.user-profile {
  display: flex;
  flex-direction: column;
  background-color: #ffff;
  padding-left: 8vw;
  padding-right: 8vw;
  height: 100%;
}

.user-header {
  display: flex;
  padding-top: 48px;
  padding-bottom: 64px;
  /* width: 200px; */
  height: 124px;
  margin-top: 30px;
}

.user-content {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.circle {
  display: flex;
  position: relative;
  flex: 0 0 auto;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
  margin: 26px 0px;
  border: 1px solid #eeedf2;
  box-shadow: 0 4px 15px 0 rgba(40,44,53,.06), 0 2px 2px 0 rgba(40,44,53,.08);
}

.user-icon {
  font-size: 24px;
  color: #a9a8b3;
}

.username {
  font-size: 28px;
  font-weight: 700;
  margin: 20px;
}

.tickets {
  display: flex;
  margin: 20px;
}

.ticket-list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.ticket-container {
  height: 130px;
  width: 100%;
  display: flex;
  margin-bottom: 40px;
  padding: 12px;
}

.user-ticket-left {
  height: 100%;
  width: 90%;
  display: flex;
}

.user-ticket-event-image {
  height: 100%;
  /* width: 30%; */
  margin-right: 10px;
}

.user-ticket-event-image > img {
  height: 100%;
  width: 100%;
  max-width: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.event-right {
  height: 100%;
  width: 20%;
}

.user-ticket-event-date {
  width: 9%;
}

.user-ticket-event-info {
  display: flex;
  width: 100%;
}

.user-ticket-event-title > h1 {
  font-size: 20px;
  margin: 1px;
}

.user-ticket-event-title > p {
  font-size: 12px;
  margin: 3px;
}

.user-ticket-event-title {
  width: 70%;
}

.ticket-index {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tickets {
  flex-direction: column;
}

.ticket-event-name {
  font-size: 24px;
  margin-bottom: 0;
}

.user-ticket-mobile-event-date {
  display: none;
}

.user-ticket-right-ellipsis-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 20px;
  border: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 210px;
}

.user-ticket-right-ellipsis-dropdown button {
  background: none;
  border: none;
  cursor: pointer;
  color: #39364f;
  font-size: 14px;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  text-align: left;
}

.user-ticket-right-ellipsis-dropdown button {
  padding: 5px;
  transition: background-color 0.2s;
}

.user-ticket-right-ellipsis-dropdown button:hover {
  background-color: #f8f7fa;
}

.user-ticket-right {
  position: relative;
  display: inline-block;
}

@media screen and (max-width: 800px) {
  .tickets {
    margin-top: -7px;
  }

  .ticket-container {
    width: 100%;
    margin-bottom: 60px;
  }

  .user-ticket-left {
    width: 100%;
  }

  .ticket-list {
    padding: 0;
  }

  .user-ticket-event-date {
    display: none;
  }

  .user-ticket-mobile-event-date {
    display: block;
    margin: 0;
  }

  .user-ticket-quantity {
    margin: 0;
  }

  .user-ticket-event-image > img {
    max-width: 120px;
  }

  .tickets {
    margin: 0;
  }
}
