.event-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  transition: box-shadow 0.2s ease-in-out;
}

.event-card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  border: 1px solid #ccc;
}

.event-card img {
  max-width: 100%;
  height: auto;
  margin-bottom: 1rem;
  cursor: pointer;
}

.event-card-content-container {
  padding: 1rem;
}

.event-card-primary-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.event-title {
  font-size: 1rem;
  font-weight: bold;
  margin-right: 0.5rem;
}

.event-title:hover {
  cursor: pointer;
}

.event-time {
  font-size: 1rem;
}

.event-card-subcontent {
  margin-top: 0.5rem;
}

.event-location {
  font-size: 1rem;
}
