.event-form-container {
  width: 80%;
  justify-content: center;
  align-items: center;
}

.event-form-container div {
  width: 100%;
}

.event-create-form {
  margin-left: 20vw;
  padding: 0px 10px;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 48px;
}

.event-form-container .event-create-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-text {
  color: #1e0a3c;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: .75px;
  margin-right: -0.75px;
}

.basic-info-directions .directions {
  color: #39364f;
  font-size: 14px;
}

.location-directions .directions {
  color: #39364f;
  font-size: 14px;
}

.date-and-time-directions .directions {
  color: #39364f;
  font-size: 14px;
}

.summary-directions .directions {
  color: #39364f;
  font-size: 14px;
}

.description-directions .directions {
  color: #39364f;
  font-size: 14px;
}

.event-details {
  color: #39364f;
  font-size: 14px;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.images-directions .directions {
  color: #39364f;
  font-size: 14px;
}

.event-create-form select,
.event-create-form textarea {
  width: 100%;
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 12px 12px 16px;
  color: #39364f;
}

.event-create-form input {
  width: 100%;
  margin-bottom: 1rem;
  box-sizing: border-box;
  padding: 20px 12px 9px;
  color: #39364f;
}

.event-create-form input:hover {
  border: 1px solid #6f7287;
  border-radius: 4px;
}

.basic-info-directions {
  margin-bottom: 15px;
}

.location-directions {
  margin-bottom: 15px;
  color: #39364f;
}

.date-and-time-directions {
  margin-bottom: 15px;
}

.description-directions {
  margin-bottom: 15px;
}

.images-directions {
  margin-bottom: 15px;
}

.summary-directions {
  margin-bottom: 15px;
}

.upload {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 30vh;
}

.upload-image-text {
  color: #1E0A3C;
  font-size: 16px;
  font-weight: 400;
}

.small-image-icon {
  margin-top: 8vh;
  font-size: 5vw;
  color: #dbdae3;
}


.date-and-time-header .event-button .single-event-button {
  border: 1px solid #3659e3;
  color: #3659e3;
  text-align: center;
  background-color: rgba(54,89,227,.1);
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
}

.basic-info-header .event-form-title {
  font-size: 16px;
  border: none;
  outline: none;
  background: none;
  text-align: start;
  cursor: text;
}

.basic-info-header, .location-header, .date-and-time-header, .summary-header, .description-header {
  border-bottom: solid 1px #EEEDFE;
}

.event-form-container input:focus, select:focus, textarea:focus {
  outline-color: #3d64ff;
}

.event-form-title {
  position: relative;
}

.event-form-title .event-form-title-input-label {
  position: absolute;
  top: 5px;
  left: 12px;
  font-size: 12px;
  color: #6f7287;
}

.event-start-date {
  position: relative;
}

.event-start-date .event-form-event-starts-input-label {
  position: absolute;
  top: 5px;
  left: 12px;
  font-size: 12px;
  color: #6f7287;
}

.event-end-date {
  position: relative;
}

.event-end-date .event-form-event-ends-input-label {
  position: absolute;
  top: 5px;
  left: 12px;
  font-size: 12px;
  color: #6f7287;
}

.event-form-venue-location {
  position: relative;
}

.event-form-venue-location .venue-location-input-label {
  position: absolute;
  top: 5px;
  left: 12px;
  font-size: 12px;
  color: #6f7287;
}

.rdrDateDisplayItem {
  display: none;
}

.rdrDateDisplayWrapper {
  display: none;
}

.publish-button {
  border: 1px solid #3659e3;
  color: #3659e3;
  text-decoration: none;
  border-radius: 4px;
  background-color: rgba(54,89,227,.1);
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  font-size: 2vh;
  font-weight: 600;
}
