.event-show-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.main {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.event-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event-image {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.event-image img {
  border-radius: 5px;
}

.event-details {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.event-details-main {
  display: flex;
  flex-direction: column;
}

.event-details-top {
  margin-bottom: 20px;
}

.start-date {
  font-size: 16px;
  color: gray;
  margin-bottom: 10px;
}

.event-title {
  font-size: 36px;
  margin-bottom: 10px;
}

.event-summary {
  font-size: 18px;
  margin-bottom: 20px;
}

.when-where h2,
.event-details-refund h2,
.about-title h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.date-time,
.location {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.location-content {
  margin-left: 10px;
}

.details {
  white-space: pre-line;
}

.ticket-form-container {
  width: 40%;
  margin-top: 20px;
}

.ticket-purchase-form {
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.date-and-time h3,
.location-title h3 {
  color: #555;
}

@media screen and (max-width: 767px) {
  .event-header {
    flex-direction: column;
    align-items: center;
  }

  .event-details {
    width: 100%;
    margin-top: 20px;
  }

  .ticket-form-container {
    width: 100%;
  }
}
