@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.event-show-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.main {
  width: 90%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
}

.event-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.event-image {
  margin: 20px 0;
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
}

.event-image img {
  border-radius: 5px;
}

.event-details {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.event-details-main {
  display: flex;
  flex-direction: column;
}

.detail-icon, .location-icon {
  font-size: 20px;
  width: 40px;
  height: 40px;
  background: #f8f7fa;
  border-radius: 5px;
  color: #0124e9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.event-details-top {
  margin-bottom: 20px;
}

.event-start-date {
  font-size: 16px;
  color: #39364F;
  font-weight: 600;
}

.event-show-page-event-title {
  color: #1e0a3c;
  font-size: 2rem;
  margin-bottom: 16px;
  font-weight: 700;
  margin-top: 1vh;
  line-height: 2.5rem;
}

.event-summary {
  font-size: 13px;
  margin-bottom: 24px;
  font-weight: 400;
}

.when-where h2,
.event-details-refund h2,
.about-title h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #1E0A3C;
}

.date-time,
.location {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.location-content, .location-icon {
  margin-left: 20px;
}

.details {
  white-space: pre-line;
}

.ticket-form-container {
  width: 330px;
  max-height: 140px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 70px;
  border-radius: 15px;
  border: 1px solid #eeedf2;
  box-shadow: 0 0 0 1px #eeedf2;
}

.date-and-time h3,
.location-title h3 {
  color: #1E0A3C;
}

.when-where-container {
  display: flex;
  /* justify-content: space-between; */
  align-items: start;
  justify-content: center;
}

.detail-content,
.location-content {
  flex: 1;
}

.detail-content {
  border-right: 1px solid #dbdae3;
  margin-left: 20px;
}

.refund-details, .details {
  color: #6F7287;
  font-weight: 400;
}

.date p, .location-details p {
  font-size: 14px;
  color: #6f7287;
}

@media screen and (max-width: 767px) {
  .event-header {
    flex-direction: column;
    align-items: center;
  }

  .event-details {
    width: 100%;
    margin-top: 20px;
  }

  .ticket-form-container {
    width: 100%;
  }

  .event-image img {
    margin-top: -20px;
  }

  .when-where-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
  }

  .detail-content {
    border-right: 0;
  }

  .location-content, .location-icon {
    margin-left: 0;
  }

  .location-content {
    margin-left: 20px;
  }

  .date-and-time h3, .location-title h3 {
    font-size: 16px;
  }

  .ticket-form-container {
    border: none;
    border-radius: 0;
    box-shadow: none;
  }

  .event-details-refund {
    margin-bottom: 35px;
  }

  .checkout .checkout-button {
    font-size: 14px;
  }
}
