@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

.event-right-ellipsis-dropdown {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-decoration: none;
  position: absolute;
  z-index: 1;
  right: 0;
  top: 16px;
  border: 0px 8px 16px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  width: 210px;
}

.add-ticket-link {
  display: block;
  color: #39364f;
  padding: 16px 24px;
  transition: background-color 0.2s;
  font-size: 14px;
  cursor: pointer;
}

.add-ticket-link:hover {
  background-color: #f8f7fa;
}

.event-right-ellipsis-dropdown a {
  display: block;
  color: #39364f;
  font-size: 14px;
}

.event-right-ellipsis-dropdown button {
  background: none;
  border: none;
  cursor: pointer;
  color: #39364f;
  font-size: inherit;
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 14px;
}

.event-right-ellipsis-dropdown a,
.event-right-ellipsis-dropdown button {
  padding: 16px 24px;
  transition: background-color 0.2s;
}

.event-right-ellipsis-dropdown a:hover,
.event-right-ellipsis-dropdown button:hover {
  background-color: #f8f7fa;
}

.event-right {
  position: relative;
  display: inline-block;
}

.event-right svg {
  cursor: pointer;
}

.list {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.event-container {
  height: 100px;
  width: 100%;
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #eeedf2;
  padding-bottom: 10px;
}

.event-left {
  height: 100%;
  width: 80%;
  display: flex;
}

.user-event-image {
  height: 100%;
  /* width: 30%; */
  margin-right: 10px;
}

.user-event-image > img {
  height: 100%;
  width: 100%;
  max-width: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.event-right {
  height: 100%;
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.user-event-date {
  width: 8%;
  font-size: 14px;
  margin-right: 5px;
}

.user-event-info {
  display: flex;
  width: 80%;
}

.user-event-title > h1 {
  font-size: 14px;
  margin: 3px;
}

.user-event-title > p {
  font-size: 12px;
  margin: 2px;
  color: #6F7287;
}

.user-event-title {
  width: 70%;
}

.ticket-index {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tickets {
  flex-direction: column;
}

.ticket-event-name {
  font-size: 24px;
  margin-bottom: 0;
}

.manage-my-events-header {
  font-size: 1.5vw;
  margin-left: 10vw;
  margin-bottom: 20px;
  margin-top: 20px;
}

.manage-my-events-container {
  display: flex;
  flex-direction: column;
  margin: 2vw;
}

.manage-my-events-title {
  background-color: #F8F7FA;
  font-weight: 600;
  font-size: 14px;
  padding-left: 24px;
  padding-right: 24px;
  line-height: 3;
  color: #39364F;
  margin-bottom: 30px;
}

.manage-my-events-event {
  width: 80%;
}

.manage-my-events-main {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ticket-modal {
  width: 50%;
}

@media screen and (max-width: 800px) {
  .user-event-title > h1 {
    font-size: 13px;
  }

  .manage-my-events-title {
    /* background-color: #F8F7FA; */
    background-color: #fff;
    font-weight: 600;
    font-size: 15px;
    padding-left: 2px;
    padding-right: 2px;
    line-height: 2.5;
    margin-top: 5px;
    color: #3659E3;
    /* padding: 12px; */
    border-bottom: 2px solid #3659e3;
    width: 13%;
    margin-bottom: 50px;
    margin-left: 0;
  }

  .manage-my-events-header {
    font-size: 15px;
    margin-left: 0;
  }

  .user-event-description {
    display: none;
  }

  .user-event-date {
    width: auto;
    margin-right: 10px;
    margin-left: 0;
  }

  .event-left {
    width: 100%;
  }

  .list {
    padding: 0;
  }

  .event-right-ellipsis-dropdown {
    width: 120px;
    top: 35px;
  }

  .event-right svg {
    font-size: 25px;
    margin-top: 10px;
  }
}
