.login-form-split-screen {
  display: flex;
  width: 100%;
  height: 100vh;
}

.login-form-left-side,
.login-form-right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-form-right-side {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.login-background-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.login-form-container {
  margin-top: 0;
  max-width: 420px;
  margin: 0 auto;
  width: 700px;
  padding: 24px;
}

.login-text {
  font-size: 3.25rem;
  line-height: 4rem;
  font-weight: 800;
  letter-spacing: 1px;
  margin: 0;
  color: #1E0A3C;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: #ffffff;
  /* border: 1px solid #e6e6e6; */
  /* box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1); */
  /* padding: 30px; */
  border-radius: 4px;
}

.login-form ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.login-form li {
  color: #d9534f;
  margin-bottom: 10px;
}

.login-form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
}

.login-form input::placeholder {
  color: #999;
}

.login-form input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 2px;
  font-size: 14px;
  background: #f8f7fa;
}

.login-form input:focus {
  outline-color: #3d64ff;
}

.login-form button {
  width: 100%;
  background-color: #D1410C;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 5px;
}

.login-form button:hover {
  background-color: #a7340a;
}

.login-form-logo {
  letter-spacing: -1px;
  font-size: 25px;
  transition: 0.3s all ease;
  cursor: pointer;
  color: #f05537;
  max-width: 120px;
  height: auto;
}

.login-form-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-text-and-links {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: flex-end;
}

.login-header-signup-link {
  color: #3659E3;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  padding-bottom: 8px;
}

@media screen and (max-width: 950px) {
  .login-form-right-side {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .login-form-right-side {
    display: none;
  }

  .login-form-container {
    max-width: 350px;
  }
}

@media screen and (max-width: 600px) {
  .login-form-right-side {
    display: none;
  }
}
