/* .split-screen {
  display: flex;
  width: 100%;
  height: 100vh;
}

.left-side,
.right-side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-side {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.background-image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.login-form {
  margin-top: 0;
  max-width: 400px;
  margin: 0 auto;
}

.header {
  margin-bottom: 20px;
}

.login-text {
  font-size: 3.25rem;
  line-height: 4rem;
  font-weight: 800;
  letter-spacing: 1px;
  margin-right: -1px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  padding: 30px;
  border-radius: 4px;
}

ul {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

li {
  color: #d9534f;
  margin-bottom: 10px;
}

label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
}

input::placeholder {
  color: #999;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

button {
  width: 100%;
  background-color: #a7340a;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #a7340a;
} */
