* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}

.nav-header {
  /* border: solid blue 5px; */
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  justify-content: space-around;
}

.left {
  /* border: solid red 5px; */
  align-items: center;
}

.search-bar {
  /* border: solid purple 5px; */
  display: flex;
  flex: 1;
  background-color: #f8f7fa;
  height: 46px !important;
  align-items: center;
}

.icon {
  /* border: solid yellow 5px; */
}

.search-icon {
  margin-left: 12px;
  vertical-align: middle;
}

.search {
  /* border: solid orange 5px; */
}

.search-input {
  border: none;
  outline: none;
  background-color: #f8f7fa;
  margin-left: 10px;
}

.nav-links {
  /* border: solid green 5px; */
  display: flex;
  justify-content: center;
  padding: 0 20px;
}

.nav-links li {
  display: flex;
  /* border: solid pink 5px; */
  /* margin-right: 10px; */
  padding: 0 13px;
  font-size: 13px;
}

.nav-links li>a {
  color: #3D64FF;
}

.nav-links :last-child a {
  color: #39364f;
}

.create-an-event {
  flex: 1;
}

.session-links {
  /* margin-left: 20px; */
}

ul {
  list-style-type: none;
}

.logo {
  max-width: 120px;
  height: auto;
  margin: 10px 10px 0 10px;
}
